@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bentham&family=Catamaran:wght@200;300;400;500;600;700&family=DM+Sans:wght@400;500;700&family=Dancing+Script:wght@400;500;600&family=Jost:wght@200;300;400;500;600;700&family=Maven+Pro:wght@400;500;600&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=PT+Sans:wght@400;700&family=Passions+Conflict&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav bar starts here   */
#main1 {
    background-color: #EDEDEF;
    padding: 0px 30px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.nav-container {
    height: 90px;
}

.row {
    height: 100%;
}

.for-logo {
    height: 100%;
    padding: 0;
}

.for-logo img {
    height: 100%;
    width: 130px;
}

.for-menu {
    justify-content: end;
    transition: 0.4s;
}

.for-menu>ul {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: end;

}

.for-menu>ul>li {
    list-style: none;
    padding: 10px 20px;
    position: relative;
    height: 82px;
    display: flex;
    align-items: center;
}

.sub-about {
    border-top: 3px solid #53A57D;
    position: absolute;
    z-index: 99;
    top: 60px;
    width: 220px;
    background-color: white;
    visibility: hidden;
}

.sub-ul {
    display: block;
    padding: 0;
}

.sub-ul li {
    list-style: none;
    padding: 8px 20px;
    cursor: pointer;
}

.sub-ul li:hover {
    background-color: #234E70;
}

.sub-ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #234E70;
}

.sub-about ul li:hover .sub-items {
    color: #53A57D;
}

.for-menu ul li:hover .sub-about {
    transition: all .5s;
    top: 82px;
    visibility: visible;
}

.for-menu>ul>li>a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #234E70;
    font-size: 15px;
}

.for-menu>ul>li>a:hover {
    color: #53A57D;
}

.for-menu>ul>li>a>i {
    margin-left: 5px;
    margin-top: 2px;
}

.for-icons {
    align-items: center;
    display: flex;
    justify-content: end;
}

.for-icons i {
    margin: 5px 20px;
    font-size: 20px;
    color: #234E70;
}

.for-icons i:hover {
    color: #53A57D;
}

.btn {
    display: none;
    margin: 0px 10px;
    background: transparent;
    padding: 0;
}

.in-btn,
.btn::before,
.btn::after {
    content: " ";
    height: 5px;
    background-color: #234E70;
    display: block;
    width: 25px;
    border-radius: 3px;
    transition: 0.4s;
    margin-bottom: 3px;
}

.active-inbtn {
    display: none;
}

.active-btn::before {
    transform: rotate(-45deg) translate(-6px, 1px);
}

.active-btn::after {
    transform: rotate(45deg) translate(-4px, 0px);
}

.sub-menu-active {
    display: block;
}

.search-bar{
    border: 1px solid rgb(220, 218, 219);
    /* height: 80px; */
    /* width: 250px; */
    position: absolute;
    top: 90px;
    padding: 25px;
    display: flex;
    background-color: #F2EFEF;
    display: none;
}

.active-search{
    display: block;
}

.search-bar form{
    display: flex;
    height: 27px;
}
.search-bar input{
    border: 1px solid rgb(220, 218, 219);
    outline: none;
    padding: 1px 15px;
    width: 170px;
    font-size: 14px;
    font-family: 'Maven Pro' sans-serif;
}

.search-bar input::placeholder{
    font-size: 13px;
}

.search-bar form button{
    width: 27px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2d2f33;
    border: none;
    outline: none;
}

.search-bar form button i{
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: white;
}

/* nav bar ends here   */


/* main image & content starts here  */
#second {
    position: relative;
    z-index: 2;
    top: 0px;
    background-image: url('https://cdn-hlngf.nitrocdn.com/lXCOfRJghXJPdtTyzcQluKpoYxMmxZOQ/assets/images/optimized/wp-content/uploads/2019/08/8bbc40a69f8d7e0ea2311f274f30c6ca.about-us-banner-2.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}


.for-maincontent {
    position: absolute;
    top: 35%;
    width: 100%;
}

.for-mainhead {
    margin-left: 120px;
}

.for-mainhead h1 {
    font-family: 'Bentham', serif;
    font-size: 60px;
    line-height: 50px;
}

.para {
    width: 400px;
    margin-top: 40px;
}

.para p {
    font-size: 18px;
}

.seemore {
    margin-top: 40px;
}

.see-more {
    font-size: 15px;
    font-family: 'Monteserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #234E70;
    letter-spacing: -1px;
    word-spacing: 2px;
}

.see-more:hover {
    color: #53A57D;
}

.seemore i {
    margin: 0 5px;
}


.to-topbtn {
    position: fixed;
    right: 1%;
    top: 96%;
    display: none;
}

.to-topbtn button {
    padding: 7px 17px;
    border-radius: 5px 5px 0px 0px;
    background-color: #333;
    cursor: pointer;
    border: none;
}

.to-topbtn button i {
    color: white;
    font-size: 18px;
}

.to-topbtn button:hover {
    background-color: #53A57D;
}

/* main image & content ends here  */




/* Our history starts here  */
#main3 {
    /* border: 2px solid red; */
    padding: 90px 0px;
}

#third {
    /* border: 2px solid blue; */
    height: 100%;
}

.for-history {
    /* border: 2px solid green; */
    height: 100%;
    padding: 0px 90px;
}

.history-row {
    /* border: 2px solid purple; */
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
}


.his-cols:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 4;
    padding-bottom: 50px;
}

.his-cols:nth-child(2) {
    grid-row-start: 1;
    grid-row-end: 7;
}

.his-cols:nth-child(3) {
    grid-row-start: 4;
    grid-row-end: 10;
    animation-delay: .2s;
}

.his-cols:nth-child(4) {
    grid-row-start: 7;
    grid-row-end: 10;
    padding-top: 50px;
}

.his-cols h1 {
    font-family: 'Bentham', sans-serif;
    font-size: 40px;
}

.his-cols p {
    font-family: 'Maven Pro', sans-serif;
    font-size: 18px;
    color: rgb(116, 116, 116);
    line-height: 30px;
}

.his-img {
    overflow: hidden;
}

.his-img img {
    height: 100%;
    width: 100%;
    transition: transform 1s;
}

.his-img img:hover {
    transform: scale(1.1);
}

/* Our history ends here  */


/* footer section starts here  */
.contact {
    display: flex;
    justify-content: center;
    height: 90px;
    margin-top: 40px;
}

.contact img {
    height: 140px;
    width: 100px;
}

#main8 {
    background-color: #3B3E45;
}

#eighth {
    height: 100%;
}

.for-contact {
    height: 100%;
}

.contact-row {
    height: 100%;
    padding: 70px 0px;
    padding-bottom: 150px;
}

.social-icons img {
    height: 20px;
    width: 20px;
    margin: 0px 10px;
    filter: brightness(0) invert(1);
    transition: filter .5s;
}

.social-icons img:hover {
    filter: none;
}

.contact-rows {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-rows ul {
    display: flex;
    align-items: center;
}

.menu-list {
    margin: 50px 0px;
}

.menu-list ul {
    margin: 0;
}

.menu-list ul li {
    list-style: none;
    padding: 10px 30px;
}

.menu-list ul li a {
    color: rgb(191, 191, 191);
    font-family: 'Maven pro', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .4s;
}

.menu-list ul li a:hover {
    color: #53A57D;
}

.menu-list ul p {
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.menu-list ul p i {
    font-size: 4px;
    color: rgb(191, 191, 191);
}

.message h1 {
    font-family: 'Bentham', sans-serif;
    color: white;
    font-weight: 400;
    text-transform: capitalize;
}

.form {
    padding: 0px 35px;
    margin-top: 40px;
}



.in-form input {
    height: fit-content;
    font-family: 'Maven pro', sans-serif;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #717176;
    width: 100%;
    padding: 20px 5px;
    color: rgb(194, 193, 193);
}

.form-btn {
    margin-top: 0px;
}

.form-btn button {
    background: transparent;
    height: fit-content;
    color: white;
    text-transform: uppercase;
    border: none;
    outline: none;
    padding: 5px 10px;
    transition: box-shadow, margin .3s;
}

.form-btn button:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 5px;
}


.footer-row {
    padding: 20px 20px;
    padding-top: 50px;
}

.footer-rows {
    padding: 0;
}

.for-last-logo img {
    height: 100px;
    width: 130px;
}

.fa-location-dot,
.fa-envelope,
.fa-phone {
    color: #9C9C9C;
    margin-right: 10px;
}

.for-address span {
    font-family: 'Maven pro', sans-serif;
}

.for-address p {
    margin: 40px 0px;
    margin-left: 30px;
    font-size: 14px;
    font-family: 'Maven pro', sans-serif;
}

.for-address p a {
    font-family: 'Maven pro', sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: black;
}

.for-address p a:hover {
    color: #53A57D;
}

.for-number span a {
    font-family: 'Maven pro', sans-serif;
    text-decoration: none;
    color: black;
}

.for-number span a:hover {
    color: #53A57D;
}

.for-number p {
    margin-top: 15px;
}

.for-number p a {
    font-family: 'Maven pro', sans-serif;
    text-decoration: none;
    color: black;
}

.for-number p a:hover {
    color: #53A57D;
}

.col-12 {
    text-align: center;
}

.col-12 h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

/* footer section starts here  */