@media screen and (max-width:575px) {
    .for-logo {
        width: 50%;
        display: flex;
        align-items: center;
    }

    #main1 {
        padding: 0px 10px;
    }

    .for-icons {
        width: 50%;
        padding: 0;
    }

    .for-icons i {
        margin: 5px 10px;
    }

    #magnify {
        display: none;
    }

    .btn {
        display: block;
        /* background-color: black; */
        height: 25px;
        width: 25px;
    }

    .for-menu {
        /* display: none; */
        position: absolute;
        left: -100%;
        top: 90px;
        padding: 0;
    }

    .for-menu-on {
        left: 0;
    }

    .for-menu ul {
        display: block;
        background-color: #EDEDEF;
        padding: 0;
        border-top: 1px solid rgba(182, 182, 182, 0.842);
    }

    .for-menu>ul>li>a {
        width: 100%;
        margin-left: 15px;
    }

    .for-menu>ul>li>a>i {
        float: right;
        margin-right: 15px;

    }

    .for-logo img {
        width: 100px;
        height: 80%;
    }

    .for-mainhead h1 {
        font-size: 40px;
    }

    .para p {
        font-size: 16px;
    }

    .for-mainhead {
        margin-left: 0px;
    }

    .for-maincontent {
        top: 25%;
        padding: 0 20px;
    }

    .para {
        width: auto;
        max-width: 400px;
    }

    .in-btn,
    .btn::before,
    .btn::after {
        margin: 2px 0px;
    }

    .btn {
        display: block;
        /* background-color: black; */
        height: 20px;
        width: 20px;
        margin-bottom: 7px;
    }

    .for-menu>ul>li {
        display: block;
        position: static;
        height: auto;
        padding: 10px 0px;
        border-bottom: 1px solid rgba(182, 182, 182, 0.842);
    }

    .sub-ul li {
        padding: 8px 40px;
    }

    .sub-ul li:not(:last-child) {
        border-bottom: 1px solid rgba(182, 182, 182, 0.842);

    }

    .sub-about {
        position: static;
        margin-bottom: -10px;
        border: none;
        width: 100%;
        display: none;
    }

    .for-menu ul li:hover .sub-about {
        display: block;
    }

    .active-btn::after {
        transform: rotate(45deg) translate(-3px, 1px);
    }

    .sub-ul li:hover {
        background-color: #eef1f3;
    }

    .tap-btn{
        left: 44%;
    }



    /* our products section  */
    .our-headings h1 {
        font-size: 35px;
    }

    .our-para p {
        font-size: 16px;
    }

    .our-rowcontent h1 {
        font-size: 35px;
    }

    .our-rowcontent p {
        font-size: 16px;
    }

    .our-rowcontent a {
        font-size: 14px;
    }

    .for-ourproducts2 {
        padding: 0;
    }

    .for-ourproducts3 {
        padding: 0;
        margin-top: 0;
    }

    .our-row {
        padding: 0px 20px;
    }

    .our-content {
        margin-top: 25px;
        padding: 0;
    }

    #main3 {
        padding-top: 70px;
    }

    .our-rows {
        padding: 0;
    }

    .our-row2 {
        margin: 0;
        width: 100%;
    }

    .our-row3 {
        margin: 0;
        width: 100%;
    }

    /* our products section ends here */

    /* our services section  */

    #forth {
        padding-top: 40px;
    }

    .services-row {
        padding: 0px 20px;
    }

    .services-headings h1 {
        font-size: 35px;
    }

    .services-para p {
        font-size: 15px;
        margin-top: -16px;
    }

    .services-para {
        width: 100%;
        /* position: absolute;
            top: 150px; */
    }

    .services-headpara h1 {
        font-size: 35px;
    }

    .services-cols {
        padding: 0px 5px;
    }

    .services-cols:not(:first-child) {
        margin-top: 35px;
    }

    .for-ourservices2 {
        top: 36%;
    }

    .for-ourservices2 {
        padding: 0px 25px;
    }

    #main4 {
        height: 950px;
    }

    .services-headpara {
        left: 40px;
    }

    .services-headpara p {
        text-align: center;
    }

    .services-content {
        /* border: 2px solid red; */
        height: 100%;
        position: absolute;
        top: 150px;
        padding: 0 20px;
        left: 0;
    }

    .services-headpara2 h1 {
        font-size: 35px;
    }

    .services-headpara2 p {
        font-family: 'Maven Pro', sans-serif;
        font-size: 16px;
        color: white;
    }

    /* our services section ends here  */




    /* commitment section starts here */
    .commitment-headings h1 {
        font-size: 35px;
    }

    .commitment-para p {
        font-size: 16px;
    }

    .for-com-headings h1{
        font-size: 35px;
        margin: 20px 0px;
    }

    .for-com-headings p {
        font-size: 16px;
    }

    .commitment-row{
        padding: 0px 20px;
    }
    
    .commitment-rows{
        padding: 0;
        margin-top: 40px;
    }

    #main5{
        margin-top: 700px;
    }

    .commitment-para{
        padding: 0;
        margin-top: 15px;
    }

    .commitment-row2{
        margin-top: 10px;
    }

    .commitment-content{
        padding: 0;
    }
    /* commitment section ends here */
}