@media screen and (min-width:1200px) and (max-width:1400px) {
    .for-menu>ul>li {
        padding: 10px 17px;
    }

    .for-icons i {
        margin: 5px 15px;
    }


    /* our products section  */
    .our-headings h1 {
        font-size: 35px;
    }

    .our-para p {
        font-size: 16px;
    }

    .our-rowcontent h1 {
        font-size: 35px;
    }

    .our-rowcontent p {
        font-size: 16px;
    }

    .our-rowcontent a {
        font-size: 14px;
    }

    /* our products section ends here  */



    /* our services section  */
    .services-headings h1 {
        font-size: 35px;
    }

    .services-para p {
        font-size: 16px;
    }

    .services-para{
        width: 102%;
    }

    .services-headpara h1{
        font-size: 35px;
    }

    .services-cols{
        padding: 0px 10px;
    }

    /* our services section ends here */

}