@media screen and (min-width:992px) and (max-width:1199px) {
    .for-logo img {
        height: 100%;
        width: 115px;
    }

    .for-menu>ul>li>a {
        font-size: 14px;
    }

    .for-menu>ul>li {
        padding: 10px 11px;
    }

    .for-icons i {
        margin: 5px 10px;
        font-size: 18px;
    }

    #main1 {
        padding-right: 0px;
    }


    /* our products section  */
    .our-headings h1 {
        font-size: 35px;
    }

    .our-para p {
        font-size: 16px;
    }

    .our-rowcontent h1 {
        font-size: 35px;
    }

    .our-rowcontent p {
        font-size: 16px;
    }

    .our-rowcontent a {
        font-size: 14px;
    }

    /* our products section ends here  */



    /* our services section  */
    .services-headings h1 {
        font-size: 35px;
    }

    .services-para p {
        font-size: 16px;
    }

    .services-para {
        width: 102%;
    }

    .services-headpara h1 {
        font-size: 35px;
    }

    .services-cols {
        padding: 0px 5px;
    }

    .for-ourservices2 {
        top: 50%;
    }

    /* our services section ends here  */



    /* commitment section starts here */
    .commitment-headings h1 {
        font-size: 35px;
    }

    .commitment-para p {
        font-size: 16px;
    }

    .for-com-headings h1 {
        font-size: 35px;
    }

    .for-com-headings p {
        font-size: 16px;
    }

    /* commitment section ends here */




    /* newsletter section here  */
    .newsletter-headings h1 {
        font-size: 35px;
    }

    .newsletter-para p {
        font-size: 16px;
    }

    .newsletter-headings h1 {
        font-size: 35px;
    }

    .newsletter-headings p {
        font-size: 16px;
    }

    /* newsletter ends here   */



    /* testimonial section starts here */
    .testimonial-headings h1 {
        font-size: 35px;
    }

    .testimonial-para p {
        font-size: 16px;
    }

    .testimonial-headings h1 {
        font-size: 35px;
    }

    .testimonial-headings p {
        font-size: 16px;
    }
    /* testimonial section ends here */
}