@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bentham&family=Catamaran:wght@200;300;400;500;600;700&family=DM+Sans:wght@400;500;700&family=Dancing+Script:wght@400;500;600&family=Jost:wght@200;300;400;500;600;700&family=Maven+Pro:wght@400;500;600&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=PT+Sans:wght@400;700&family=Passions+Conflict&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#main1 {
    background-color: #EDEDEF;
    padding: 0px 30px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.nav-container {
    /* border: 2px solid blue; */
    height: 90px;
}

.row {
    height: 100%;
}

.for-logo {
    /* border: 2px solid green; */
    height: 100%;
    padding: 0;
}

.for-logo img {
    height: 100%;
    width: 130px;
}

.for-menu {
    /* border: 2px solid black; */
    justify-content: end;
    transition: 0.4s;
}

.for-menu>ul {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: end;

}

.for-menu>ul>li {
    list-style: none;
    padding: 10px 20px;
    position: relative;
    height: 82px;
    display: flex;
    align-items: center;
}

.sub-about {
    border-top: 3px solid #53A57D;
    position: absolute;
    z-index: 99;
    top: 60px;
    width: 220px;
    background-color: white;
    visibility: hidden;
}

.sub-ul {
    display: block;
    padding: 0;
}

.sub-ul li {
    list-style: none;
    padding: 8px 20px;
    cursor: pointer;
}

.sub-ul li:hover {
    background-color: #234E70;
}

.sub-ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #234E70;
}

.sub-about ul li:hover .sub-items {
    color: #53A57D;
}

.for-menu ul li:hover .sub-about {
    transition: all .5s;
    top: 82px;
    visibility: visible;
}

.for-menu>ul>li>a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #234E70;
    font-size: 15px;
}

.for-menu>ul>li>a:hover {
    color: #53A57D;
}

.for-menu>ul>li>a>i {
    margin-left: 5px;
    margin-top: 2px;
}

.for-icons {
    /* border: 2px solid yellow; */
    align-items: center;
    display: flex;
    justify-content: end;
}

.for-icons i {
    margin: 5px 20px;
    font-size: 20px;
    color: #234E70;
}

.for-icons i:hover {
    color: #53A57D;
}


#second {
    position: relative;
    z-index: 2;
    top: 0px;
}

#second>img {
    width: 100%;
    height: 100vh;
}

.for-maincontent {
    /* border: 2px solid green; */
    position: absolute;
    top: 35%;
    width: 100%;
}

.for-mainhead {
    /* border: 2px solid yellowgreen; */
    margin-left: 120px;
}

.for-mainhead h1 {
    font-family: 'Bentham', serif;
    font-size: 60px;
    line-height: 50px;
}

.para {
    /* border: 2px solid black; */
    width: 400px;
    margin-top: 40px;
}

.para p {
    font-size: 18px;
}

.seemore {
    margin-top: 40px;
}

.see-more {
    font-size: 15px;
    font-family: 'Monteserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #234E70;
    letter-spacing: -1px;
    word-spacing: 2px;
}

.see-more:hover {
    color: #53A57D;
}

.seemore i {
    margin: 0 5px;
}

.tap-btn {
    position: absolute;
    top: 88%;
    left: 50%;
    animation: bounce 0.4s infinite;
    /* animation-delay: 1s; */
    animation-iteration-count: 1s;
}

@keyframes bounce {
    0% {
        top: 88%;
    }

    50% {
        top: 85%;
    }

    100% {
        top: 88%;
    }
}

.tap-btn img {
    filter: invert(1);
    height: 70px;
    width: 50px;
}


/* for navbar button from medium screen   */
.btn {
    display: none;
    margin: 0px 10px;
    background: transparent;
    padding: 0;
    /* border: 1px solid black; */
}

.in-btn,
.btn::before,
.btn::after {
    content: " ";
    height: 5px;
    background-color: #234E70;
    display: block;
    width: 25px;
    border-radius: 3px;
    transition: 0.4s;
    margin-bottom: 3px;
}

.active-inbtn {
    display: none;
}

.active-btn::before {
    transform: rotate(-45deg) translate(-6px, 1px);
}

.active-btn::after {
    transform: rotate(45deg) translate(-4px, 0px);
}

.sub-menu-active {
    display: block;
}


/* for our products section  */
#main3 {
    /* border: 2px solid red; */
    padding-top: 150px;
    padding-bottom: 20px;
}

.our-row {
    /* border: 2px solid green; */
    padding: 0px 90px;
}

.our-head {
    /* border: 2px solid goldenrod; */
    display: flex;
    align-items: start;
    padding: 0;
}

.our-content {
    /* border: 2px solid black; */
    display: flex;
    align-items: start;
}

.our-headings span {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: rgb(110, 110, 110);
}

.our-headings h1 {
    font-family: 'Bentham', serif;
    font-size: 40px;
    margin-top: 5px;
}

.our-para {
    /* border: 2px solid brown; */
    width: 95%;
    color: rgb(110, 110, 110);
}

.our-para p {
    font-size: 18px;
    font-family: 'Maven pro', sans-serif;
    line-height: 30px;
}

.for-ourproducts2 {
    /* border: 2px solid blue; */
    margin-top: 50px;
    padding: 0px 30px;
}

.our-row2 {
    /* border: 2px solid green; */
    height: 100%;
    padding: 0;
    justify-content: center;
}

.our-rows {
    /* border: 2px solid black; */
    height: 100%;
    padding: 0px 10px;
}

.in-ourrow {
    /* border: 2px solid rgb(117, 1, 111); */
    height: 100%;
    overflow: hidden;
    position: relative;
    height: 480px;
}

.in-ourrow img {
    height: 100%;
    width: 100%;
    cursor: pointer;
    transition: transform 1s;
}

.in-ourrow:hover.in-ourrow img {
    transform: scale(1.1);
}

.our-rowcontent {
    position: absolute;
    z-index: 3;
    top: 10px;
    /* border: 2px solid red; */
    margin-left: 40px;
    margin-top: 50px;
}

.our-rowcontent h1 {
    font-family: 'Bentham', serif;
}

.our-rowcontent p {
    font-family: 'Maven pro', sans-serif;
    color: #747474;
    font-size: 18px;
    margin-bottom: 25px;
}

.our-rowcontent a {
    font-family: 'PT sans', sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: #3b3e45;
}

.for-ourproducts3 {
    /* border: 2px solid blue; */
    margin-top: 50px;
    padding: 0px 30px;
}

.our-row3 {
    /* border: 2px solid green; */
    height: 100%;
    padding: 0;
    justify-content: center;
}
/* our products section ends here */



/* our services section starts here */

#main4{
    /* border: 2px solid red; */
    height: 500px;
    position: relative;
}

#forth{
    /* border: 2px solid blue; */
    height: 100%;
    background-color: #3C3E42;
    padding-top: 90px;
}

.for-ourservices{
    /* border: 2px solid green; */
    height: 100%;
}

.services-row{
    /* border: 2px solid yellowgreen; */
    height: 100%;
    padding: 0px 90px;
}

.services-head{
    /* border: 2px solid red; */
    height: 100%;
    padding: 0;
}

.services-content{
    /* border: 2px solid red; */
    height: 100%;
}

.services-headings span {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.services-headings h1 {
    font-family: 'Bentham', serif;
    font-size: 40px;
    margin-top: 5px;
    color: white;
}

.services-para {
    /* border: 2px solid brown; */
    width: 95%;
    color: rgb(255, 255, 255);
}

.services-para p {
    font-size: 18px;
    font-family: 'Maven pro', sans-serif;
    line-height: 30px;
}

.for-ourservices2 {
    /* border: 2px solid rgb(0, 0, 0); */
    position: absolute;
    top: 45%;
    padding: 0px 20px;
}

.services-cols{
    /* border: 2px solid yellow; */
    padding: 0px 20px;
}

.in-services-cols{
    /* border: 2px solid rgb(19, 84, 104); */
    height: 400px;
    cursor: pointer;
    overflow: hidden;
}

.mainbox{
    position: relative;
}

.box-content{
    position: absolute;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.mainbox:hover .box-content{
    transform: rotateY(180deg);
}

.the-front{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 5px;
}
.the-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    overflow: hidden;
    border-radius: 5px;
}
  
.the-front img{
    background-position: center;
    height: 120%;
    width: 100%;
    border-radius: 5px 5px 5px 5px;
}
.the-back img{
    background-position: center;
    height: 100%;
    width: 100%;
    border-radius:  5px 5px 5px 5px;
}

.services-headpara{
    position: absolute;
    top: 30px;
    left: 50px;
}

.services-headpara h1{
    font-family: 'Bentham', serif;
    padding-right: 80px;
    line-height: 35px;
    margin-bottom: 15px;
}

.services-headpara p{
    font-family: 'Maven Pro' , sans-serif;
    text-transform: capitalize;
    text-align: end;
    margin-top: -15px;
    margin-right: 80px;
}

.services-headpara2{
    position: absolute;
    top: 30px;
    left: 50px;
}

.services-headpara2 h1{
    font-family: 'Bentham', serif;
    color: white;
}

.services-headpara2 p{
    font-family: 'Maven Pro' , sans-serif;
    font-size: 18px;
    color: white;
    padding-right: 40px;
    margin-bottom: 40px;
}

.services-headpara2 a{
    text-decoration: none;
    color: aliceblue;
    font-family: 'PT sans' sans-serif;
    font-weight: 500;
}






/* our services section ends here */





.eee {
    height: 1000px;
    background-color: #babaf0;
}