@media screen and (min-width:1200px) and (max-width:1400px) {
     /* navbar starts here  */
     .for-menu>ul>li {
        padding: 10px 17px;
    }

    .for-icons i {
        margin: 5px 15px;
    }
    /* navbar ends here  */
    

    /* group section starts here  */
    .for-content h1{
        font-size: 35px;
    }

    .for-content p{
        font-size: 16px;
    }

    .video{
        height: 250px;
    }

    .company-cols h1 {
        font-size: 35px;
    }

    .company-cols p{
        font-size: 16px;
    }

    .company-cols{
        padding: 0px 20px;
    }
    /* group section ends here  */
}