@media screen and (max-width:576px) {
    /* navbar starts here  */
    .for-logo {
        width: 50%;
        display: flex;
        align-items: center;
    }

    #main1 {
        padding: 0px 10px;
    }

    .for-icons {
        width: 50%;
        padding: 0;
    }

    .for-icons i {
        margin: 5px 10px;
    }

    #magnify {
        display: none;
    }

    .btn {
        display: block;
        height: 25px;
        width: 25px;
    }

    .for-menu {
        position: absolute;
        left: -100%;
        top: 90px;
        padding: 0;
    }

    .for-menu-on {
        left: 0;
    }

    .for-menu ul {
        display: block;
        background-color: #EDEDEF;
        padding: 0;
        border-top: 1px solid rgba(182, 182, 182, 0.842);
    }

    .for-menu>ul>li>a {
        width: 100%;
        margin-left: 15px;
    }

    .for-menu>ul>li>a>i {
        float: right;
        margin-right: 15px;

    }

    .for-logo img {
        width: 100px;
        height: 80%;
    }

    .for-mainhead h1 {
        font-size: 40px;
    }

    .para p {
        font-size: 16px;
    }

    .for-mainhead {
        margin-left: 0px;
    }

    .for-maincontent {
        top: 25%;
        padding: 0 20px;
    }

    .para {
        width: auto;
        max-width: 400px;
    }

    .in-btn,
    .btn::before,
    .btn::after {
        margin: 2px 0px;
    }

    .btn {
        display: block;
        height: 20px;
        width: 20px;
        margin-bottom: 7px;
    }

    .for-menu>ul>li {
        display: block;
        position: static;
        height: auto;
        padding: 10px 0px;
        border-bottom: 1px solid rgba(182, 182, 182, 0.842);
    }

    .sub-ul li {
        padding: 8px 40px;
    }

    .sub-ul li:not(:last-child) {
        border-bottom: 1px solid rgba(182, 182, 182, 0.842);

    }

    .sub-about {
        position: static;
        margin-bottom: -10px;
        border: none;
        width: 100%;
        display: none;
    }

    .for-menu ul li:hover .sub-about {
        display: block;
    }

    .active-btn::after {
        transform: rotate(45deg) translate(-3px, 1px);
    }

    .sub-ul li:hover {
        background-color: #eef1f3;
    }

    .tap-btn {
        left: 44%;
    }
    /* navbar ends here  */


    /* group section starts here  */
    .for-content h1{
        font-size: 35px;
    }

    .for-content p{
        font-size: 16px;
    }

    .for-group {
        padding: 0px 20px;
    }

    .for-video {
        height: 250px;
        justify-content: center;
    }

    .video{
        height: 100%;
    width: 100%;
    margin-top: 50px;
    }

    .company-cols{
        padding: 0 10px;
    }

    .for-companies {
        padding: 0px 20px;
    }

    .company-cols:not(:first-child){
        margin-top: 50px;
    }

    .company-cols h1 {
        font-size: 35px;
        margin-top: 25px;
    }

    .company-cols p{
        font-size: 16px;
    }

    .company-row2{
        grid-template-columns: 1fr;
    }
    /* group section ends here  */


     /* footer section starts here  */
     .contact {
        margin-top: 0;
    }

    .contact-rows ul {
        padding: 0;
        justify-content: center;
        flex-wrap: wrap;
    }

    .menu-list ul li {
        padding: 10px 25px;
    }

    .form {
        padding: 0px 20px;
    }

    .for-address {
        position: relative;
    }

    .for-address p {
        margin-left: 0;
        position: absolute;
        top: 243%;
        padding: 0px 40px;
        text-align: center;
    }

    .col-12 {
        text-align: center;
        margin-top: 108px;
    }
    /* footer ends starts here  */
}