@media screen and (min-width:992px) and (max-width:1199px) {
     /* navbar starts here  */
     .for-logo img {
        height: 100%;
        width: 115px;
    }

    .for-menu>ul>li>a {
        font-size: 14px;
    }

    .for-menu>ul>li {
        padding: 10px 11px;
    }

    .for-icons i {
        margin: 5px 10px;
        font-size: 18px;
    }

    #main1 {
        padding-right: 0px;
    }
    /* navbar ends here  */



    /* group section starts here  */
    .for-content h1{
        font-size: 35px;
    }

    .for-content p{
        font-size: 16px;
    }

    .for-video{
        height: 300px;
        justify-content: center;
    }

    .video{
        height: 90%;
        width: 55%;
    }

    .company-cols h1 {
        font-size: 35px;
    }

    .company-cols p{
        font-size: 16px;
    }

    .company-cols{
        padding: 0px 20px;
    }
    /* group section ends here  */
}