@media screen and (min-width:576px) and (max-width:767px) {

    /* navbar starss here  */
    .for-logo img {
        width: 115px;
    }

    #main1 {
        padding: 0px 15px;
    }

    .for-mainhead h1 {
        font-size: 50px;
    }

    .para p {
        font-size: 16px;
    }

    .for-mainhead {
        margin-left: 30px;
    }

    .for-maincontent {
        top: 25%;
    }

    .for-menu {
        position: absolute;
        left: -100%;
        top: 90px;
        padding: 0;
    }

    .for-menu ul {
        display: block;
        background-color: #EDEDEF;
        padding: 0;
        border-top: 1px solid rgba(182, 182, 182, 0.842);
    }

    .for-menu-on {
        left: 0;
    }

    .for-menu>ul>li>a {
        width: 100%;
        margin-left: 20px;
    }

    .for-menu>ul>li>a>i {
        float: right;
        margin-right: 25px;

    }

    #magnify {
        display: none;
    }

    .btn {
        display: block;
        height: 25px;
        width: 25px;
    }

    .for-icons i {
        margin: 5px 15px;
        font-size: 24px;
    }

    .for-icons {
        padding: 0;
    }

    .for-menu>ul>li {
        display: block;
        position: static;
        height: auto;
        padding: 10px 0px;
        border-bottom: 1px solid rgba(182, 182, 182, 0.842);
    }

    .sub-about {
        position: static;
        margin-bottom: -10px;
        border: none;
        width: 100%;
        display: none;
    }

    .for-menu ul li:hover .sub-about {
        display: block;
    }

    .sub-ul li {
        padding: 8px 40px;
    }

    .sub-ul li:not(:last-child) {
        border-bottom: 1px solid rgba(182, 182, 182, 0.842);
    }

    .sub-ul li:hover {
        background-color: #eef1f3;
    }

    /* navbar ends here  */



    /* main content section starts here  */
    .main-row h1 {
        font-size: 40px;
        line-height: 40px;
    }

    .main-row {
        padding: 46px 10px;
        padding-bottom: 20px;
    }

    .main-row p {
        font-size: 16px;
        width: 100%;
    }

    .brand h1 {
        font-size: 35px;
    }

    .brand {
        padding: 0px 20px;
    }

    .in-pic-row {
        grid-template-columns: 1fr;
        grid-row-gap: 40px;
    }

    .in-brand-cols a {
        font-size: 14px;
    }

    .for-brands {
        padding: 0px 35px;
    }

    .in-brand-cols {
        height: 400px;
    }

    .img2 {
        display: none;
    }

    .brands-pic-row {
        padding: 0px 0px;
    }

    .in-brand-cols {
        height: 350px;
    }

    /* main content section ends here  */



    /* projects divs starts here  */
    .pro-content h1{
        font-size: 35px;
    }

    .for-projects{
        padding: 0px 30px;
    }

    .in-pro-cols{
        height: 420px;
        /* margin-bottom: 20px; */
    }

    .pro-col1{
        padding: 0px;
    }
    
    .pro-col2{
        padding: 0px;
    }

    .pro-content {
        padding: 25px;
    }
    /* projects divs ends here  */



    /* footer section starts here  */
    .contact {
        margin-top: 0;
    }

    .contact-rows ul {
        padding: 0;
        justify-content: center;
        flex-wrap: wrap;
    }

    .menu-list ul li {
        padding: 10px 25px;
    }

    .form {
        padding: 0px 20px;
    }

    .for-address {
        position: relative;
    }

    .for-address p {
        margin-left: 0;
        position: absolute;
        top: 243%;
        padding: 0px 40px;
        text-align: center;
    }

    .col-12 {
        text-align: center;
        margin-top: 108px;
    }

    /* footer ends starts here  */
}