@media screen and (min-width:1200px) and (max-width:1400px){
     /* navbar starts here  */
     .for-menu>ul>li {
        padding: 10px 17px;
    }

    .for-icons i {
        margin: 5px 15px;
    }
    /* navbar ends here  */
    


    /* main content section starts here  */
    .main-row{
        padding-bottom: 30px;
    }

    .main-row p{
        font-size: 16px;
    }

    .brand h1{
        font-size: 35px;
    }

    /* main content ends starts here  */
}